:root{
  --IVORY: #EDE9E3;
  --NUDE: #E7D7C9;
  --ROSE: #D4B2A7;
  --STONE: #CDC6C3;
  --LATTE: #A38F85;

  /* HEADER */
  --color-header: linear-gradient(var(--IVORY), var(--ROSE));
  --texto-header: #333;
  --color-cta: #7a6b63;
  --color-cta-hover: #695d56;
  --texto-cta: #fff;
  --color-metodo: var(--IVORY);
  /* FILTRO */
  --color-filtro: var(--STONE);
  --color-boton: var(--LATTE);
  --color-boton-hover: #948178;
  --texto-boton: #fff;
  /* MAIN */
  --color-producto: var(--NUDE);
  /* FOOTER */
  --color-footer: var(--LATTE);
  --texto-footer: #fff;

  accent-color: var(--LATTE);

  /* 
    Paleta 1:
    --IVORY: #EDE9E3;
    --NUDE: #E7D7C9;
    --ROSE: #D4B2A7;
    --STONE: #CDC6C3;
    --LATTE: #A38F85;

    Paleta 2:
    --COLOR 1: #C8DBCB;
    --COLOR 2: #ACC4C0;
    --COLOR 3: #7E998D;
    --COLOR 4: #6A7B67;
    --COLOR 5: #EFD3CD;
  */
}
html{ scroll-behavior: smooth; }
html:has(.modal--activo){ overflow: hidden; }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* font-family: var(--font-poppins, "sans-serif"); */
  min-height: 100vh;
  min-height: 100dvh;
}
.contenedor{
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
}
.titulo{
  letter-spacing: 1px;
  text-align: center;
}
.boton{
  background-color: var(--color-boton);
  color: var(--texto-boton, #fff);
  padding: .8em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
}
.boton:hover{
  background-color: var(--color-boton-hover);
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 50px 0;
  /* background: var(--color-header); */
  color: var(--texto-header);
  background-image: url("/assets/header-fondo.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  backdrop-filter: blur(10px);
}
.header__apartados{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 1em auto;
  padding: 20px 30px;
  background-image: linear-gradient(#EDE9E3aa, #D4B2A7aa);
  border-radius: 3px;
}
.header__apartado{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__titulo{ font-size: clamp(2em, 6vw, 3em); }
.header__caracteristicas{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.header__texto{
  min-width: 200px;
  width: 40%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header__parrafo{
  line-height: 1.5;
}
.header__metodos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}
.header__metodo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
  padding: 20px;
  background-color: var(--color-metodo);
  border-radius: 3px;
}
.header__icono{ width: 3em; }
.header__cta{
  align-self: center;
  background-color: var(--color-cta);
  color: var(--texto-cta);
  text-decoration: none;
}
.header__cta:hover{ background-color: var(--color-cta-hover); }

.filtros{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.filtro{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  background-color: var(--color-filtro);
  padding: 10px;
}
.filtro__input{
  /* flex-grow: 1; */
  padding: .5rem;
  outline: none;
  font-size: 1em;
}
.filtro__input:is(input[type=checkbox]){
  width: 20px;
  height: 20px;
}
.filtro__input:not(input[type=checkbox]){
  flex-grow: 1;
}

/* MODAL */
.modal{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background: rgba(0 0 0 / .3);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  z-index: 1000;
}
.modal--activo{
  opacity: 1;
  pointer-events: all;
}
.modal__img{
  width: 100vmin;
  height: 100vmin;
  object-fit: cover;
  object-position: center;
}
.modal__botones{
  position: fixed;
  top: 20px;
  right: 20px;
}

/* PRODUCTOS */
.productos{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.producto{
  display: flex;
  flex-direction: column;
  background-color: var(--color-producto);
  border-radius: 3px;
  color: rgb(0 0 0 / .8);
  overflow: hidden;
}
.producto__contenedor-img{
  width: 100%;
  flex: 0 0 200px;
  overflow: hidden;
}
.producto__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale .3s;
}
.producto__img:hover{
  scale: 1.1;
}
.producto__texto{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .5em;
  padding: 20px;
}
.producto__nombre{
  flex-grow: 1;
  font-size: 1.2em;
}
.producto__precios{
  display: flex;
  align-items: end;
  gap: .5rem;
  line-height: 1;
}
.producto__precio{
  font-size: 1.5em;
  font-weight: bold;
}
.producto__precio-anterior{
  text-decoration: line-through;
  font-size: 1em;
  color: var(--color-cta);
}
.producto__cantidad{
  font-size: .9em;
}

.footer{
  min-height: 100px;
  padding: 0.1px; /* Margin collapse */
  background-color: var(--color-footer);
  color: var(--texto-footer);
}
.footer__contenedor{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer__titulo{
  font-size: 1.5em;
}
.footer__links{
  display: flex;
  gap: 20px;
}
.footer__link{
  display: flex;
  color: var(--texto-footer);
}
.footer__link .icon{
  width: 30px;
  height: 30px;
  transition: transform .3s;
}
.footer__link:hover .icon{ transform: translateY(-5px); }

.notfound{
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background-color: var(--NUDE);
}
.notfound__contenedor{
  width: 100%;
  display: grid;
  gap: 1rem;
}