:root{
  --IVORY: #EDE9E3;
  --NUDE: #E7D7C9;
  --ROSE: #D4B2A7;
  --STONE: #CDC6C3;
  --LATTE: #A38F85;

  /* HEADER */
  --color-header: linear-gradient(var(--IVORY), var(--ROSE));
  --texto-header: #333;
  --color-cta: var(--LATTE);
  --color-cta-hover: #948178;
  --texto-cta: #fff;
  --color-metodo: var(--IVORY);
  /* FILTRO */
  --color-filtro: var(--STONE);
  --color-boton: var(--LATTE);
  --color-boton-hover: #948178;
  --texto-boton: #fff;
  /* MAIN */
  --color-producto: var(--NUDE);
  /* FOOTER */
  --color-footer: var(--LATTE);
  --texto-footer: #fff;

  accent-color: var(--LATTE);

  /* 
    Paleta 1:
    --IVORY: #EDE9E3;
    --NUDE: #E7D7C9;
    --ROSE: #D4B2A7;
    --STONE: #CDC6C3;
    --LATTE: #A38F85;

    Paleta 2:
    --COLOR 1: #C8DBCB;
    --COLOR 2: #ACC4C0;
    --COLOR 3: #7E998D;
    --COLOR 4: #6A7B67;
    --COLOR 5: #EFD3CD;
  */
}
html{ scroll-behavior: smooth; }
html:has(.modal--activo){ overflow: hidden; }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--font-poppins, "sans-serif");
  min-height: 100vh;
  min-height: 100dvh;
}
.contenedor{
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
}
.titulo{
  text-align: center;
}
.boton{
  background-color: var(--color-boton);
  color: var(--texto-boton, #fff);
  padding: .8em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1em;
}
.boton:hover{
  background-color: var(--color-boton-hover);
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 50px 0;
  background: var(--color-header);
  color: var(--texto-header);
}
.header__apartados{
  display: flex;  
  align-items: center;
  gap: 50px;
  margin: 0 auto;
}
.header__apartado{
  width: 100%;
  display:flex;
  flex-direction: column;
  gap: 1em;
}
.header__titulo{ font-size: clamp(2em, 6vw, 3em); }
.header__texto{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__parrafo{
  line-height: 1.5;
}
.header__metodos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}
.header__metodo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
  padding: 20px;
  background-color: var(--color-metodo);
  border-radius: 3px;
}
.header__icono{ width: 3em; }
.header__cta{
  background-color: var(--color-cta);
  color: var(--texto-cta);
  text-decoration: none;
}
.header__cta:hover{ background-color: var(--color-cta-hover); }

.filtros{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.filtro{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  background-color: var(--color-filtro);
  padding: 10px;
}
.filtro__input{
  /* flex-grow: 1; */
  padding: .5rem;
  outline: none;
  font-size: 1em;
}
.filtro__input:is(input[type=checkbox]){
  width: 20px;
  height: 20px;
}
.filtro__input:not(input[type=checkbox]){
  flex-grow: 1;
}

/* MODAL */
.modal{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background: rgba(0 0 0 / .3);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
}
.modal--activo{
  opacity: 1;
  pointer-events: all;
}
.modal__img{
  width: 100vmin;
  height: 100vmin;
  object-fit: cover;
  object-position: center;
}
.modal__botones{
  position: fixed;
  top: 20px;
  right: 20px;
}

/* PRODUCTOS */
.productos{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.producto{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-producto);
  padding: 20px;
  border-radius: 3px;
}
.producto__img{
  width: 100%;
  height: 200px;
  border-radius: 3px;
  object-fit: cover;
}
.producto__nombre{ flex-grow: 1; }
.producto__precio{
  font-size: 1.5em;
  font-weight: bold;
}

.footer{
  height: 100px;
  background-color: var(--color-footer);
  color: var(--texto-footer);
}
.footer__contenedor{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer__links{
  display: flex;
  gap: 20px;
}
.footer__link{
  color: var(--texto-footer);
}

@media (max-width: 768px){
  .header__apartados{
    flex-direction: column;
  }
}